<style>
</style>
<div class="relative flex  h-screen w-full" >
    <div class="transition-width flex flex-col duration-300 ease-in-out h-screen relative p-3 pr-0" [ngClass]="isSidebarOpen?'w-1/6':'w-[5%]'">
        <div   class="bg-white  cursor-pointer rounded-t-[20px] top-2 left-3 transition-width duration-300 ease-in-out" [ngClass]="isSidebarOpen?'w-full h-[30%]':'w-20 h-[15%]'">
            <div  class="flex justify-center w-full">
                <img src="assets/img/burger-menu-open.svg" class="w-[100px] h-10 cursor-pointer" (click)="isOpenSideBar()" alt="burger">
            </div>
            <div >
                <div class="w-[60%] m-auto mt-[10%] mb-2 relative overflow-hidden justify-center flex items-center rounded-full">
                    <a routerLink=''><img src="assets/img/logo.png" class="w-full cursor-pointer " alt="user"></a>
                </div>
                <div *ngIf="isSidebarOpen" class="flex justify-center flex-col items-center w-full">
                       <p class="text-[40px] font-cocon h-[50px] flex items-center text-transparent bg-clip-text bg-gradient-to-r from-[#1770FF] via-[#12A7FF] to-[#FFDE2D]
                            {{ isSidebarOpen ? 'transition-opacity duration-700 ease-in-out opacity-1' : 'opacity-0' }}">
                         Nexa
                       </p>
                </div>

            <div class="w-full bg-gray-300 h-[1px]"></div>
            </div>

        </div>
        <div class="bg-white h-[55%] left-3 transition-all duration-300 ease-in-out" [ngClass]="isSidebarOpen?'w-full':'w-20 h-[73%]'">
          <ul class="w-full pl-2 space-y-4">
            <li routerLink="dashboard" class="w-full group h-[60px] flex items-center cursor-pointer rounded-l-full p-2 hover:bg-[#36466A] hover:text-white
                {{!isSidebarOpen ? 'flex justify-center items-center' : ''}}"
                [ngClass]="clickedElement === 'dashboard' ? 'bg-[#36466A]' : 'bg-white'"
             >
              <span class="w-[55px] h-[55px] flex justify-center items-center bg-[#36466A] rounded-full {{ !isSidebarOpen ? 'absolute' : '' }}">
                <img [src]="imageDashboardWhite" class="w-[80%]" alt="dashboard">
              </span>
              <span  class="m-3 group-hover:text-white font-quicksand
                    {{ isSidebarOpen ? 'transition-opacity duration-700 ease-in-out opacity-1' : 'opacity-0' }}"
                    [ngClass]="clickedElement === 'dashboard' ? 'text-white' : 'text-[#36466A]'" >Dashboard</span>
            </li>
            <li routerLink="project" class="w-full group h-[60px] flex items-center cursor-pointer rounded-l-full p-2 hover:bg-[#36466A] hover:text-white
                {{!isSidebarOpen ? 'flex justify-center items-center' : ''}}"
                [ngClass]="clickedElement === 'project' ? 'bg-[#36466A]' : 'bg-white'"
            >
              <span class="w-[55px] h-[55px] flex justify-center items-center bg-[#36466A] rounded-full {{ !isSidebarOpen ? 'absolute' : '' }}">
                <img [src]="imageProjectWhite" class="w-[80%]" alt="project">
              </span>
              <span  class="m-3 group-hover:text-white font-quicksand
                    {{ isSidebarOpen ? 'transition-opacity duration-700 ease-in-out opacity-1' : 'opacity-0' }}"
                    [ngClass]="clickedElement === 'project' ? 'text-white' : 'text-[#36466A]'">Project</span>
            </li>
            <li routerLink="task" class="w-full group h-[60px] flex items-center cursor-pointer rounded-l-full p-2 hover:bg-[#36466A] hover:text-white
                {{!isSidebarOpen ? 'flex justify-center items-center' : ''}}"

                [ngClass]="clickedElement === 'task' ? 'bg-[#36466A]' : 'bg-white'">
              <span class="w-[55px] h-[55px] flex justify-center items-center bg-[#36466A] rounded-full {{ !isSidebarOpen ? 'absolute' : '' }}">
                <img [src]="imageTaskWhite" class="w-[80%]" alt="task">
              </span>
              <span  class="m-3 group-hover:text-white font-quicksand
                    {{ isSidebarOpen ? 'transition-opacity duration-700 ease-in-out opacity-1' : 'opacity-0' }}"
                    [ngClass]="clickedElement === 'task' ? 'text-white' : 'text-[#36466A]'">Task</span>
            </li>
            <li routerLink="user" class="w-full group h-[55px] flex items-center cursor-pointer rounded-l-full p-2 hover:bg-[#36466A] hover:text-white
              {{!isSidebarOpen ? 'flex justify-center items-center' : ''}}"
              [ngClass]="clickedElement === 'user' ? 'bg-[#36466A]' : 'bg-white'">
              <span class="w-[55px] h-[55px] flex justify-center items-center bg-[#36466A] rounded-full {{ !isSidebarOpen ? 'absolute' : '' }}">
                <img [src]="imageUserWhite" class="w-[80%]" alt="user">
              </span>
              <span  class="m-3 group-hover:text-white font-quicksand
                    {{ isSidebarOpen ? 'transition-opacity duration-700 ease-in-out opacity-1' : 'opacity-0' }}"
                    [ngClass]="clickedElement === 'user' ? 'text-white' : 'text-[#36466A]'">
                Users
              </span>
            </li>
          </ul>
        </div>
        <div class="bg-white h-[30%] rounded-b-[20px] flex pb-3 items-end left-3 transition-width duration-300 ease-in-out {{!isSidebarOpen ? 'justify-center pl-0' : 'pl-3'}}" [ngClass]="isSidebarOpen?'w-full':'w-20'">
          <div class="flex flex-col">
            <div class="flex w-full items-center group cursor-pointer mb-5 rounded-l-full {{!isSidebarOpen ? 'justify-center' : ''}}">
              <span class="w-[55px] h-[55px] flex justify-center items-center overflow-hidden bg-[#36466A] rounded-full {{ !isSidebarOpen ? 'absolute' : '' }}">
                    <a routerLink='/profile/{{user.id}}'><img [src]="this.photoUrl?this.photoUrl:'assets/img/user.png'"  class="h-full cursor-pointer" alt="user"></a>
              </span>
              <span  class="pl-3  font-quicksand text-center
                        {{ isSidebarOpen ? 'transition-opacity duration-700 ease-in-out opacity-1' : 'opacity-0' }}">
                    {{user.fullName}}
              </span>
            </div>
            <div class="flex cursor-pointer items-center {{!isSidebarOpen ? 'justify-center' : ''}}" (click)="sessionStorage.removeItem('user')">
               <span class="w-[55px] h-[55px] flex justify-center items-center rounded-full {{ !isSidebarOpen ? 'absolute' : '' }}">
                <img src="assets/img/logOut.png" class="w-[50%]" alt="task">
              </span>
              <span class="m-3 font-quicksand
                    {{ isSidebarOpen ? 'transition-opacity duration-700 ease-in-out opacity-1' : 'opacity-0' }}">
                sign out
              </span>
            </div>
          </div>
        </div>
    </div>
    <div class="w-full overflow-y-auto">
        <router-outlet ></router-outlet>
    </div>
</div>

