
<div class="relative bg-white rounded-[40px] flex items-center flex-col mt-[90px] w-[99%] p-7">
    <div class="mb-6">
        <span class="text-[#006e95] text-[50px] font-lato ">Edit Project</span>
    </div>
    <form class="w-full h-full flex" (submit)="submitForm()" >
        <div class="w-[50%] p-5">
            <div class="flex -mx-3">
                <div class="w-full px-3 mb-5">
                    <label for="title" class=" font-semibold px-1 text-lg font-quicksand capitalize ">title</label>
                    <div class="flex">
                        <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-format-title text-gray-400 text-lg"></i></div>
                        <input type="text" id="title" name="title" [(ngModel)]="formData.title" [value]="projectResponse.title" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg text-lg font-quicksand border-2 border-gray-200 outline-none focus:border-[#46648c]" placeholder="project title">
                    </div>
                    <div *ngIf="!response.status && response.errors[0].title" class="text-rose-900 text-sm">
                        {{response.errors[0].title}}
                    </div>
                </div>
            </div>
            <div class="flex -mx-3">
                <div class="w-full px-3 mb-5">
                    <label for="description" class=" font-semibold px-1 text-lg font-quicksand capitalize">description</label>
                    <div class="flex">
                        <div class="w-10 z-10 pl-1 pt-2 text-center pointer-events-none flex items-start justify-center"><i class="mdi mdi-text-box-outline text-gray-400 text-lg"></i></div>
                        <textarea id="description" name="description" rows="7" [(ngModel)]="formData.description" [value]="projectResponse.description"  class="w-full -ml-10 pl-10 pr-3 py-2 text-lg font-quicksand rounded-lg border-2 border-gray-200 outline-none focus:border-[#46648c]" placeholder="Insert the project Description"></textarea>
                    </div>
                    <div *ngIf="!response.status && response.errors[0]" class="text-rose-900 text-sm">
                        {{response.errors[0].description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="w-[50%] p-5">
            <div class="flex w-full flex-col">
                <div class="flex w-full justify-between">
                    <div class="flex w-[50%] -mx-3">
                        <div class="w-full px-3 mb-5">
                            <label for="startDate" class=" font-semibold px-1 text-lg font-quicksand capitalize ">start date</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-calendar-range text-gray-400 text-lg"></i></div>
                                <input type="date" id="startDate" name="startDate"  [(ngModel)]="formData.dateDebut" [value]="projectResponse.dateDebut" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg font-quicksand border-2 border-gray-200 outline-none focus:border-[#46648c]" placeholder="project title">
                            </div>
                            <div *ngIf="!response.status && response.errors[0].date" class="text-rose-900 text-sm">
                                {{response.errors[0].date}}
                            </div>
                        </div>
                    </div>
                    <div class="flex w-[50%] -mx-3">
                        <div class="w-full px-3 mb-5">
                            <label for="endDate" class=" font-semibold px-1 text-lg font-quicksand capitalize ">end date</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-calendar-range text-gray-400 text-lg"></i></div>
                                <input type="date" id="endDate" name="endDate" [(ngModel)]="formData.dateFin"  [value]="projectResponse.dateFin" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg font-quicksand border-2 border-gray-200 outline-none focus:border-[#46648c]" placeholder="project title">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex -mx-3">
                    <div class="w-full px-3 mb-5">
                        <label for="title" class=" font-semibold px-1 text-lg font-quicksand capitalize ">client</label>
                        <div class="flex">
                            <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-account-tie-outline text-gray-400 text-lg"></i></div>
                            <input type="text" id="client" name="client" [(ngModel)]="formData.client" [value]="projectResponse.client"  class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg text-lg font-quicksand border-2 border-gray-200 outline-none focus:border-[#46648c]" placeholder="client name">
                        </div>
                        <div *ngIf="!response.status && response.errors[0].client" class="text-rose-900 text-sm">
                            {{response.errors[0].client}}
                        </div>
                    </div>
                </div>
                <div class="flex -mx-3">
                    <div class="w-full px-3 mb-5">
                        <label for="title" class=" font-semibold px-1 text-lg font-quicksand capitalize ">price</label>
                        <div class="flex">
                            <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-cash text-gray-400 text-lg"></i></div>
                            <input type="number" id="price" name="price" [(ngModel)]="formData.price" [value]="projectResponse.price"  class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg text-lg font-quicksand border-2 border-gray-200 outline-none focus:border-[#46648c]" placeholder="project price with Dh">
                        </div>
                        <div *ngIf="!response.status && response.errors[0].price" class="text-rose-900 text-sm">
                            {{response.errors[0].price}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex -mx-3 mt-9">
                <div class="w-full px-3 mb-5">
                    <button class="block w-full max-w-xs mx-auto bg-[#46648c] hover:bg-[#242444] focus:bg-[#242444] text-white rounded-lg px-3 py-3 font-semibold">UPDATE PROJECT</button>
                </div>
            </div>
        </div>
    </form>
</div>
